%section.hero.bd-hero.bd-is-bootstrap
  .hero-body
    .container
      .bd-hero-body
        .bd-hero-heading
          %h1.title.algolia-lvl0
            my Convention
          .subtitle.is-4.algolia-lvl1
            %p 5th - 10th October 2022, Essen, Germany
